{% extends 'base.html.twig' %}

{% block body %}


    <a style="font-weight: bolder" class="placesLinkStyle" href="{{ path('place_page', {'place': app.request.attributes.get('place').id}) }}">Powrót do miejsca</a>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-3 well">
                <div class="well">
                    <p>Avatar</p>
                    <img src={{ asset('bundles/app/img/profilePics/man.PNG') }} class="img-circle" height="65"
                         width="65" alt="Avatar">
                </div>

                <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p>
            </div>
            <div class="col-sm-7" style="border-left: 2px solid black; border-right: 2px solid black;">
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_start(form) }}
                        {{ form_row(form.message) }}
                        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>

                {% for msg in messages %}
                <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p>{{ msg.author }}</p>
                            <img src={{ asset('bundles/app/img/profilePics/black.PNG') }} class="img-circle"
                                 height="55"
                                 width="55" alt="Avatar">
                            <p>{{ msg.date }}</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="well">
                            <p>{{ msg.content }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-2 well map">

                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
    Messages
{% endblock %}

