{% extends 'base.html.twig' %}

{% block title %}

    Miejsce {{ placeInfo.name }}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1 style="text-align: center; border-bottom:  2px solid black">
                Miejsce o nazwie {{ placeInfo.name }}
            </h1>
            <a class="button" style="float: right; margin: 3% 3% 0% 0%"
               href="{{ path('messages_page', {'place': placeInfo.id}) }}">Messages</a>

            <br>
            <div class="groupInfo">
                <div>Opis miejsca: {{ placeInfo.description }}</div>
                <div>Moderator: {{ placeInfo.moderator }}</div>
                <a style="font-weight: bolder" class="placesLinkStyle" href="{{ path('places_page') }}">Powrót do listy
                    miejsc</a>
            </div>

            <br><br>

            <a style="width: 80%;" class="weatherwidget-io" href="https://forecast7.com/en/53d4314d55/szczecin/" data-label_1="SZCZECIN" data-label_2="WEATHER" data-icons="Climacons Animated" data-theme="weather_one" >SZCZECIN WEATHER</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
        </div>
        
        <div class="col-sm-4" style="background-color: white; border: 2px solid black">

            <h4>Użytkownicy:</h4>

            {% for user in usersInPlace %}
                {{ user.username }}
                <a href="{{ path('removeUserFromPlace', {'place': placeInfo.id, 'user': user.id}) }}"
                   style="color: red;">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <br>
            {% endfor %}

            <hr>
            {{ form(userForm) }}
            <hr>

            <h4>Przedmioty:</h4>

            {% for item in itemsInPlace %}
                {{ item.name }}
                <a href="{{ path('removeItemFromPlace', {'item': item.id, 'place': placeInfo.id}) }}"
                   style="color: red;">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <br>
            {% endfor %}

            {{ form(itemForm) }}
        </div>
        <div class="col-sm-12">
            <h2>Siatka</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead style="font-weight: bold">
                    <tr>
                        <td style="background-image: linear-gradient(to bottom left,  transparent calc(50% - 1px), #DDDDDD, transparent calc(50% + 1px))">
                            <div style="text-align: right">Użytkownicy</div>
                            Przedmioty
                        </td>
                        {% for user in usersInPlace %}

                            <td>{{ user.username }}</td>

                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in itemsInPlace %}
                        <tr{% if item.mark == 1 %} style="background-color: #ff4f67" {% endif %}>
                            <td>
                                {{ item.name }}
                                {% if 1 == item.mark %}
                                    <a href="{{ path('unmarkItem', {'item': item.id, 'place': placeInfo.id}) }}"><span
                                                class="glyphicon glyphicon-ok" style="color: green"></span></a>
                                {% else %}
                                    <a href="{{ path('markItem', {'item': item.id, 'place': placeInfo.id}) }}"><span
                                                class="glyphicon glyphicon-exclamation-sign" style="color: red"></span></a>
                                {% endif %}
                            </td>
                            {% for user in usersInPlace %}
                                <td{% if purchasePerUser[user.id][item.id] is not defined or latest[item.id][0] is defined and latest[item.id][0].user.id == user.id %} style="background-color: orange"{% endif %}>
                                    {% if user.id == app.user.id %}
                                        <a href="{{ path('addPurchase', {'item': item.id}) }}">
                                            <span class="glyphicon glyphicon-shopping-cart"
                                                  style="color: green; font-size: 30px"></span>
                                        </a>
                                    {% endif %}
                                    {% if purchasePerUser[user.id][item.id] is defined %}
                                        {% for d in purchasePerUser[user.id][item.id] %}
                                            <div class="purchase-date">
                                                {{ d[0] }}
                                                {% if user.id == app.user.id %}
                                                    <a href="{{ path('remove_purchase', {'place': placeInfo.id, 'purchase': d[1]}) }}"><span
                                                                style="color: red;"
                                                                class="glyphicon glyphicon-remove"></span></a>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}

{% endblock %}

