{% extends 'base.html.twig' %}

{% block title %}

    Twoje miejsca

{% endblock %}


{% block body %}



    <div class="row">
        <div class="col-sm-4 places">
            <h4>Lista miejsc, które moderujesz:</h4>
            <div class="placesContainer well">
                {% for place in moderated %}
                    <div class="placesContainer well">
                        <a class="placesLinkStyle" href="{{ path('place_page', {'place': place.id}) }}">{{ place.name }}</a>
                        <a href="{{ path('remove_place', {'place': place.id}) }}"><span style="color: red" class="glyphicon glyphicon-remove"></span></a>
                        <br>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4 places">
            <h4>Lista miejsc, do których należysz:</h4>
            <div class="placesContainer well">
                {% for place in places %}
                    <div class="placesContainer well">
                        <a class="placesLinkStyle" href="{{ path('place_page', {'place': place.id}) }}">{{ place.name }}</a><br>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <h3 style="text-align: center">Dodaj miejsce</h3>
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



{% block stylesheets %}

{% endblock %}

