{% extends 'base.html.twig' %}

{% block title %}

    Twoje miejsca

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-9">
            Lista Twoich miejsc:
            <br>
            {% for place in places %}
                <a href="{{ path('place_page', {'id': place.id}) }}">{{ place.name }}</a><br>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            {% for msg in app.session.flashBag.get('newPlace') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ msg }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <h3>Dodaj miejsce</h3>
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

