{% extends 'base.html.twig' %}

{% block title %}

Twoje miejsca

{% endblock %}

{% block body %}
    {#{{ resp }}#}
    {#<br>#}
    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#{{ form_end(form) }}#}
    Lista Twoich miejsc:
    <br>
    {% for place in places %}
        <a href="{{ path('place_page', {'id': place.id}) }}">{{ place.name }}</a><br>
    {% endfor %}

{% endblock %}

{% block stylesheets %}

{% endblock %}

